<!DOCTYPE HTML>

<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="/javascripts/jquery-1.11.3.min.js"></script>
        </script>
	<style>
	    .usable {

                -moz-box-shadow:inset 0px 1px 0px 0px #a4e271;

                -webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;

                box-shadow:inset 0px 1px 0px 0px #a4e271;

                background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));

                background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);

                background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);

                background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);

                background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);

                background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);

                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);

                background-color:#89c403;

                -moz-border-radius:6px;

                -webkit-border-radius:6px;

                border-radius:6px;

                border:1px solid #74b807;

                display:inline-block;

                cursor:pointer;

                color:#ffffff;

                font-family:Arial;

                font-size:15px;

                font-weight:bold;

                padding:8px 24px;

                text-decoration:none;

                text-shadow:0px 1px 0px #528009;

                }

        .usable:hover {

                background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));

                background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);

                background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);

                background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);

                background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);

                background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);

                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);

                background-color:#77a809;

        }

        .usable:active {

                position:relative;

                top:1px;

        }

        .notusable {

                -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;

                -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;

                box-shadow:inset 0px 1px 0px 0px #f5978e;

                background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));

                background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);

                background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);

                background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);

                background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);

                background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);

                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);

                background-color:#f24537;

                -moz-border-radius:6px;

                -webkit-border-radius:6px;

 border-radius:6px;

                border:1px solid #d02718;

                display:inline-block;

                cursor:pointer;

                color:#ffffff;

                font-family:Arial;

                font-size:15px;

                font-weight:bold;

                padding:8px 24px;

                text-decoration:none;

                text-shadow:0px 1px 0px #810e05;

        }

        .notusable:hover {

                background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));

                background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);

                background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);

                background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);

                background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);

                background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);

                background-color:#c62d1f;

        }

        .mysubmit:active {

                position:relative;

                top:1px;

        }




	</style>


</head>

<body>

 <%
                var cabinetSize = cabinet_status.length;
                for(var i =0; i<cabinetSize; i++)
                {
                        var cabinetNumber = cabinet_status[i].번호;
      var cabinetState = cabinet_status[i].사용;

                if(cabinetState==0) {
        %>
                <script>

                        $(function(){

                                var tag = $('#<%=cabinetNumber%>');
                                tag.addClass('notusable');
                        }
                        );
                </script>
        <%      }
                else{
        %>
                <script>
                        $(function(){
                                var tag = $('#<%=cabinetNumber%>');
                                tag.addClass('usable');
                        }
                        );

                </script>
        <%      }
                if(i==cabinetSize-1){
        %>

                <script>

                 $(function(){
                        $(".usable").click(
                                function(){
                                         var selected = $(this).val();
                                         var result= confirm(selected+" 신청하시겠습니까?");

                                                                                                                                                                 if(result)     $(this).submit;
                                                                                                                                                                 else return false;


                                }
                        );
                        $(".notusable").click(
                                function(){
                                        alert("이미 신청된 사물함입니다.");
                                                                                                                                                                return false;
                                }
                        );

			
		  var getParameter = function (param) {
                                var returnValue;
                                var url = $(location).attr('href');
                                var parameters = (url.slice(url.indexOf('?') + 1, url.length)).split('&');
                                for (var i = 0; i < parameters.length; i++) {
                                        var varName = parameters[i].split('=')[0];
                                        if (varName.toUpperCase() == param.toUpperCase()) {
                                                returnValue = parameters[i].split('=')[1];
                                                return decodeURIComponent(returnValue);
                                                }
                                        }
                                };
                        
                        var grade=getParameter('grade');
                        var id=getParameter('id');
                        var name=getParameter('name');


                        $( "#id" ).text(id);
                        $("#name").text(name);
                        $("#grade").text(grade);


                }
                );
                </script>
        <%
                }

        }
        %>


        <script>
        var status=<%=msg%>;

                if(status=='0')
                        alert('로그인완료');
                else if(status=='1')
                        alert('사물함신청완료');
                else
                        alert('이미 신청되었습니다.');

        </script>


		 <table id='form'>
                <tr rowspan='2'>
                <td colspan='2'><h1 id='head'>2학년 사물함신청 페이지</h1></td>
                </tr>

                <tr rowspan='6'>
                <td colspan='2' border='1'>
                        <p>학번:<p id='id'/></p></p>
                        <p>이름:<p id='name'/></p></p>
                        <p>학년:<p id='grade'></p></p>
                </td>
                <td colspan='6'>
                <table border="10">
                <form action="/apply" method="post">
			<tr>  <td rowspan="1" colspan="12">복도</td> </tr>
			
			 <tr>
                        <td rowspan="6" colspan="2">231호</td>
                        <td><input type="submit" name="cabinet" id="A3" value="A3" /></td>
                        <td><input type="submit" name="cabinet" id="A6" value="A6" /></td>
                        <td><input type="submit" name="cabinet" id="A9" value="A9" /></td>
                        <td rowspan="6" colspan="2">복도</td>
			 <td><input type="submit" name="cabinet" id="A16" value="A16" /></td>
                        <td><input type="submit" name="cabinet" id="A13" value="A13" /></td>
                        <td><input type="submit" name="cabinet" id="A10" value="A10" /></td>
                         <td rowspan="6" colspan="2">232호</td>
			 </tr>

                        <tr>
                        <td><input type="submit" name="cabinet" id="A2" value="A2" /></td>
                        <td><input type="submit" name="cabinet" id="A5" value="X" /></td>
                        <td><input type="submit" name="cabinet" id="A8" value="A8" /></td>
                        <td><input type="submit" name="cabinet" id="A17" value="A17" /></td>
		        <td><input type="submit" name="cabinet" id="A14" value="A14" /></td>
			<td><input type="submit" name="cabinet" id="A11" value="A11" /></td>
			 </tr>

                        <tr>
                        <td><input type="submit" name="cabinet" id="A1" value="A1" /></td>
                        <td><input type="submit" name="cabinet" id="A4" value="A4" /></td>
                        <td><input type="submit" name="cabinet" id="A7" value="A7" /></td>
			<td><input type="submit" name="cabinet" id="A18" value="A18" /></td>
                        <td><input type="submit" name="cabinet" id="A15" value="A15" /></td>
                        <td><input type="submit" name="cabinet" id="A12" value="A12" /></td>
                        </tr>

                        <tr>
                        <td><input type="submit" name="cabinet" id="A30" value="A30" /></td>
                        <td><input type="submit" name="cabinet" id="A33" value="A33" /></td>
                        <td><input type="submit" name="cabinet" id="A36" value="A36" /></td>
			<td><input type="submit" name="cabinet" id="A21" value="A21" /></td>
                        <td><input type="submit" name="cabinet" id="A24" value="A24" /></td>
                        <td><input type="submit" name="cabinet" id="A27" value="A27" /></td>
                        </tr>

                        <tr>
                        <td><input type="submit" name="cabinet" id="A29" value="A29" /></td>
                        <td><input type="submit" name="cabinet" id="A32" value="A32" /></td>
                        <td><input type="submit" name="cabinet" id="A35" value="A35" /></td>
			<td><input type="submit" name="cabinet" id="A20" value="A20" /></td>
                        <td><input type="submit" name="cabinet" id="A23" value="A23" /></td>
                        <td><input type="submit" name="cabinet" id="A26" value="A26" /></td>
                        </tr>

                        <tr>
                        <td><input type="submit" name="cabinet" id="A28" value="A28" /></td>
                        <td><input type="submit" name="cabinet" id="A31" value="A31" /></td>
                        <td><input type="submit" name="cabinet" id="A34" value="A34" /></td>
			<td><input type="submit" name="cabinet" id="A19" value="A19" /></td>
                        <td><input type="submit" name="cabinet" id="A22" value="A22" /></td>
                        <td><input type="submit" name="cabinet" id="A25" value="A25" /></td>
                        </tr>

		
		</form>
		</table>
		<br/><br/><br/>
			

			 <table border="10">
              	         <form action="/apply" method="post">

                         <tr>
                        <td><input type="submit" name="cabinet" id="B1" value="B1" /></td>
                        <td><input type="submit" name="cabinet" id="B2" value="B2" /></td>
                        <td><input type="submit" name="cabinet" id="B11" value="B11" /></td>
			<td><input type="submit" name="cabinet" id="B12" value="B12" /></td>
			<td><input type="submit" name="cabinet" id="B21" value="B21" /></td>
                        <td><input type="submit" name="cabinet" id="B22" value="B22" /></td>
                        <td><input type="submit" name="cabinet" id="B31" value="B31" /></td>
                        <td><input type="submit" name="cabinet" id="B32" value="B32" /></td>
			<td><input type="submit" name="cabinet" id="B41" value="B41" /></td>
                        <td><input type="submit" name="cabinet" id="B42" value="B42" /></td>
                        <td><input type="submit" name="cabinet" id="B51" value="X" /></td>
                        <td><input type="submit" name="cabinet" id="B52" value="B52" /></td>
			</tr>
                       
			 <tr>
                        <td><input type="submit" name="cabinet" id="B3" value="B3" /></td>
                        <td><input type="submit" name="cabinet" id="B4" value="B4" /></td>
                        <td><input type="submit" name="cabinet" id="B13" value="B13" /></td>
                        <td><input type="submit" name="cabinet" id="B14" value="B14" /></td>
                        <td><input type="submit" name="cabinet" id="B23" value="B23" /></td>
                        <td><input type="submit" name="cabinet" id="B24" value="B24" /></td>
                        <td><input type="submit" name="cabinet" id="B33" value="B33" /></td>
                        <td><input type="submit" name="cabinet" id="B34" value="B34" /></td>
                        <td><input type="submit" name="cabinet" id="B43" value="B43" /></td>
                        <td><input type="submit" name="cabinet" id="B44" value="B44" /></td>
                        <td><input type="submit" name="cabinet" id="B53" value="X" /></td>
                        <td><input type="submit" name="cabinet" id="B54" value="B54" /></td> 
                        </tr>

			 <tr>
                        <td><input type="submit" name="cabinet" id="B5" value="B5" /></td>
                        <td><input type="submit" name="cabinet" id="B6" value="X" /></td>
                        <td><input type="submit" name="cabinet" id="B15" value="B15" /></td>
                        <td><input type="submit" name="cabinet" id="B16" value="B16" /></td>
                        <td><input type="submit" name="cabinet" id="B25" value="B25" /></td>
                        <td><input type="submit" name="cabinet" id="B26" value="B26" /></td>
                        <td><input type="submit" name="cabinet" id="B35" value="B35" /></td>
                        <td><input type="submit" name="cabinet" id="B36" value="B36" /></td>
                        <td><input type="submit" name="cabinet" id="B45" value="B45" /></td>
                        <td><input type="submit" name="cabinet" id="B46" value="B46" /></td>
                        <td><input type="submit" name="cabinet" id="B55" value="B55" /></td>
                        <td><input type="submit" name="cabinet" id="B56" value="B56" /></td>
                        </tr>


			   <tr>
                        <td><input type="submit" name="cabinet" id="B7" value="B7" /></td>
                        <td><input type="submit" name="cabinet" id="B8" value="B8" /></td>
                        <td><input type="submit" name="cabinet" id="B17" value="B17" /></td>
                        <td><input type="submit" name="cabinet" id="B18" value="B18" /></td>
                        <td><input type="submit" name="cabinet" id="B27" value="B27" /></td>
                        <td><input type="submit" name="cabinet" id="B28" value="B28" /></td>
                        <td><input type="submit" name="cabinet" id="B37" value="B37" /></td>
                        <td><input type="submit" name="cabinet" id="B38" value="B38" /></td>
                        <td><input type="submit" name="cabinet" id="B47" value="B47" /></td>
                        <td><input type="submit" name="cabinet" id="B48" value="B48" /></td>
                        <td><input type="submit" name="cabinet" id="B57" value="B57" /></td>
                        <td><input type="submit" name="cabinet" id="B58" value="B58" /></td>
                        </tr>

			   <tr>
                        <td><input type="submit" name="cabinet" id="B9" value="B9" /></td>
                        <td><input type="submit" name="cabinet" id="B10" value="B10" /></td>
                        <td><input type="submit" name="cabinet" id="B19" value="B19" /></td>
                        <td><input type="submit" name="cabinet" id="B20" value="B20" /></td>
                        <td><input type="submit" name="cabinet" id="B29" value="B29" /></td>
                        <td><input type="submit" name="cabinet" id="B30" value="B30" /></td>
                        <td><input type="submit" name="cabinet" id="B39" value="X" /></td>
                        <td><input type="submit" name="cabinet" id="B40" value="B40" /></td>
                        <td><input type="submit" name="cabinet" id="B49" value="B49" /></td>
                        <td><input type="submit" name="cabinet" id="B50" value="B50" /></td>
                        <td><input type="submit" name="cabinet" id="B59" value="B59" /></td>
                        <td><input type="submit" name="cabinet" id="B60" value="B60" /></td>
                        </tr>

			<tr>
			<td rowspan="1" colspan="12">복도</td>
			</tr>

			<tr>
			<td rowspan="1" colspan="11">231호실</td>
			<td colspan="1">A1</td>
			</tr>
	
		</form>
		</table>

</body>

</html>

